// A2 text colors

$a2-text-primary : #242424;
$a2-text-secondary : #525252;

// A2 Colors shades

/* Red colors */
$a2-primary: #FF232B;
$a2-primary-1: #fff5f5;
$a2-primary-2: #ffe0e2;
$a2-primary-3: #ffccce;
$a2-primary-4: #ffb8ba;
$a2-primary-5: #ffa3a7;
$a2-primary-6: #ff8f93;
$a2-primary-7: #ff7a7f;
$a2-primary-8: #ff666c;
$a2-primary-9: #ff5258;
$a2-primary-10: #ff3d44;
$a2-primary-11: #ff2931;
$a2-primary-12: #ff141d;
$a2-primary-13: #ff0009;
$a2-primary-14: #eb0009;
$a2-primary-15: #d60008;
$a2-primary-16: #c20007;
$a2-primary-17: #ad0006;
$a2-primary-18: #990006;
$a2-primary-19: #850005;
$a2-primary-20: #700004;
$a2-primary-21: #5c0003;
$a2-primary-22: #470003;
$a2-primary-23: #330002;
$a2-primary-24: #1f0001;
$a2-primary-25: #0a0000;

/* Grey colors */

$a2-grey: #C7C7C7;
$a2-grey-1: #fafafa;
$a2-grey-2: #f0f0f0;
$a2-grey-3: #e6e6e6;
$a2-grey-4: #dbdbdb;
$a2-grey-5: #d1d1d1;
$a2-grey-6: #bdbdbd;
$a2-grey-7: #b3b3b3;
$a2-grey-8: #a8a8a8;
$a2-grey-9: #9e9e9e;
$a2-grey-10: #949494;
$a2-grey-11: #8a8a8a;
$a2-grey-12: #808080;
$a2-grey-13: #757575;
$a2-grey-14: #6b6b6b;
$a2-grey-15: #616161;
$a2-grey-16: #575757;
$a2-grey-17: #4d4d4d;
$a2-grey-18: #424242;
$a2-grey-19: #383838;
$a2-grey-20: #2e2e2e;
$a2-grey-21: #242424;
$a2-grey-22: #1a1a1a;
$a2-grey-23: #0f0f0f;
$a2-grey-24: #050505;

/* Yellow colors */

$a2-yellow: #FCDB0D;
$a2-yellow-1: #fffef5;
$a2-yellow-2: #fffbe1;
$a2-yellow-3: #fef8cd;
$a2-yellow-4: #fef5b8;
$a2-yellow-5: #fef2a4;
$a2-yellow-6: #feef90;
$a2-yellow-7: #fdec7c;
$a2-yellow-8: #fde968;
$a2-yellow-9: #fde654;
$a2-yellow-10: #fde340;
$a2-yellow-11: #fce02b;
$a2-yellow-12: #fcdd17;
$a2-yellow-13: #fcda03;
$a2-yellow-14: #e8c803;
$a2-yellow-15: #d4b703;
$a2-yellow-16: #bfa502;
$a2-yellow-17: #ab9402;
$a2-yellow-18: #978302;
$a2-yellow-19: #837102;
$a2-yellow-20: #6f6001;
$a2-yellow-21: #5b4e01;
$a2-yellow-22: #473d01;
$a2-yellow-23: #322c01;
$a2-yellow-24: #1e1a00;
$a2-yellow-25: #0a0900;

/* Aqua colors */

$a2-aqua: #03CFA3;
$a2-aqua-1: #f5fffd;
$a2-aqua-2: #e1fff8;
$a2-aqua-3: #cdfef4;
$a2-aqua-4: #b9feef;
$a2-aqua-5: #a5feea;
$a2-aqua-6: #90fde6;
$a2-aqua-7: #7cfde1;
$a2-aqua-8: #68fddd;
$a2-aqua-9: #54fdd8;
$a2-aqua-10: #40fcd4;
$a2-aqua-11: #2cfccf;
$a2-aqua-12: #18fcca;
$a2-aqua-13: #04fbc6;
$a2-aqua-14: #03e7b6;
$a2-aqua-15: #03d3a6;
$a2-aqua-16: #03bf96;
$a2-aqua-17: #02ab87;
$a2-aqua-18: #029777;
$a2-aqua-19: #028367;
$a2-aqua-20: #026f57;
$a2-aqua-21: #015a47;
$a2-aqua-22: #014637;
$a2-aqua-23: #013228;
$a2-aqua-24: #001e18;
$a2-aqua-25: #000a08;

/* Purple colors */

$a2-purple: #552D84;
$a2-purple-1: #faf7fc;
$a2-purple-2: #efe8f7;
$a2-purple-3: #e4d9f2;
$a2-purple-4: #dacaed;
$a2-purple-5: #cfbbe8;
$a2-purple-6: #c5abe2;
$a2-purple-7: #ba9cdd;
$a2-purple-8: #af8dd8;
$a2-purple-9: #a57ed3;
$a2-purple-10: #9a6ece;
$a2-purple-11: #905fc9;
$a2-purple-12: #8550c3;
$a2-purple-13: #7a41be;
$a2-purple-14: #713caf;
$a2-purple-15: #6736a0;
$a2-purple-16: #5d3191;
$a2-purple-17: #532c81;
$a2-purple-18: #492772;
$a2-purple-19: #402263;
$a2-purple-20: #361d54;
$a2-purple-21: #2c1744;
$a2-purple-22: #221235;
$a2-purple-23: #180d26;
$a2-purple-24: #0f0817;
$a2-purple-25: #050308;

:root {
    color-scheme: light;    
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #{$a2-primary};
    --el-color-primary-light-3: #{$a2-primary-9};
    --el-color-primary-light-5: #{$a2-primary-8};
    --el-color-primary-light-7: #{$a2-primary-7};
    --el-color-primary-light-8: #{$a2-primary-4};
    --el-color-primary-light-9: #{$a2-primary-3};
    --el-color-primary-dark-2: #{$a2-primary-16};
    --el-color-success: #{$a2-aqua};
    --el-color-success-light-3: #{$a2-aqua-5};
    --el-color-success-light-5: #{$a2-aqua-4};
    --el-color-success-light-7: #{$a2-aqua-3};
    --el-color-success-light-8: #{$a2-aqua-2};
    --el-color-success-light-9: #{$a2-aqua-1};
    --el-color-success-dark-2: #{$a2-aqua-16};
    --el-color-warning: #{$a2-yellow};
    --el-color-warning-light-3: #{$a2-yellow-5};
    --el-color-warning-light-5: #{$a2-yellow-4};
    --el-color-warning-light-7: #{$a2-yellow-3};
    --el-color-warning-light-8: #{$a2-yellow-2};
    --el-color-warning-light-9: #{$a2-yellow-1};
    --el-color-warning-dark-2: #{$a2-yellow-16};
    --el-color-danger: #{$a2-primary-14};
    --el-color-danger-light-3: #{$a2-primary-5};
    --el-color-danger-light-5: #{$a2-primary-4};
    --el-color-danger-light-7: #{$a2-primary-3};
    --el-color-danger-light-8: #{$a2-primary-2};
    --el-color-danger-light-9: #{$a2-primary-1};
    --el-color-danger-dark-2: #{$a2-primary-17};
    --el-color-error: #{$a2-primary-14}; 
    --el-color-error-light-3: #{$a2-primary-5};
    --el-color-error-light-5: #{$a2-primary-4};
    --el-color-error-light-7: #{$a2-primary-3};
    --el-color-error-light-8: #{$a2-primary-2};
    --el-color-error-light-9: #{$a2-primary-1};
    --el-color-error-dark-2: #{$a2-primary-17};
    --el-color-info: #{$a2-purple};
    --el-color-info-light-3: #{$a2-purple-5};
    --el-color-info-light-5: #{$a2-purple-4};
    --el-color-info-light-7: #{$a2-purple-3};
    --el-color-info-light-8: #{$a2-purple-2};
    --el-color-info-light-9: #{$a2-purple-1};
    --el-color-info-dark-2: #{$a2-purple-16};
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #242424;
    --el-text-color-regular: #525252;
    --el-text-color-secondary: #242424;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
    --link-active-bg-color: rgba(255, 35, 43, 0.1);
    --brand-color: #{$a2-primary};
}

.el-button--warning {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: #{$a2-yellow};
    --el-button-border-color: #{$a2-yellow};
    --el-button-outline-color: #{$a2-yellow-11};
    --el-button-active-color: #{$a2-yellow-16};
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: #{$a2-yellow-11};
    --el-button-hover-bg-color: #{$a2-yellow-14};
    --el-button-hover-border-color: #{$a2-yellow-14};
    --el-button-active-bg-color: #{$a2-yellow-16};
    --el-button-active-border-color: #{$a2-yellow-16};
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: #{$a2-yellow-11};
    --el-button-disabled-border-color: #{$a2-yellow-11};
}

.el-button--danger {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: #{$a2-primary-14};
    --el-button-border-color: #{$a2-primary-14};
    --el-button-outline-color: #{$a2-primary-15};
    --el-button-active-color: #{$a2-primary-16};
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: #{$a2-primary-15};
    --el-button-hover-bg-color: #{$a2-primary-17};
    --el-button-hover-border-color: #{$a2-primary-17};
    --el-button-active-bg-color: #{$a2-primary-16};
    --el-button-active-border-color: #{$a2-primary-16};
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: #{$a2-primary-15};
    --el-button-disabled-border-color: #{$a2-primary-15};
}

.el-button--primary {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: #{$a2-primary};
    --el-button-border-color: #{$a2-primary};
    --el-button-outline-color: #{$a2-primary-5};
    --el-button-active-color: #{$a2-primary-16};
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: #{$a2-primary-5};
    --el-button-hover-bg-color: #{$a2-primary-14};
    --el-button-hover-border-color: #{$a2-primary-14};
    --el-button-active-bg-color: #{$a2-primary-16};
    --el-button-active-border-color: #{$a2-primary-16};
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: #{$a2-primary-5};
    --el-button-disabled-border-color: #{$a2-primary-5};
}

.el-button--info {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: #{$a2-purple};
    --el-button-border-color: #{$a2-purple};
    --el-button-outline-color: #{$a2-purple-5};
    --el-button-active-color: #{$a2-purple-16};
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: #{$a2-purple-5};
    --el-button-hover-bg-color: #{$a2-purple-19};
    --el-button-hover-border-color: #{$a2-purple-19};
    --el-button-active-bg-color: #{$a2-purple-16};
    --el-button-active-border-color: #{$a2-purple-16};
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: #{$a2-purple-5};
    --el-button-disabled-border-color: #{$a2-purple-5};
}

.el-button--success {
    --el-button-text-color: var(--el-color-white);
    --el-button-bg-color: #{$a2-aqua};
    --el-button-border-color: #{$a2-aqua};
    --el-button-outline-color: #{$a2-aqua-5};
    --el-button-active-color: #{$a2-aqua-16};
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-link-text-color: #{$a2-aqua-5};
    --el-button-hover-bg-color: #{$a2-aqua-17};
    --el-button-hover-border-color: #{$a2-aqua-17};
    --el-button-active-bg-color: #{$a2-aqua-16};
    --el-button-active-border-color: #{$a2-aqua-16};
    --el-button-disabled-text-color: var(--el-color-white);
    --el-button-disabled-bg-color: #{$a2-aqua-5};
    --el-button-disabled-border-color: #{$a2-aqua-5};
}

.el-table .el-table__cell {
    padding: 10px 8px;
}